{% apply spaceless %}
  <header id="header" class="header clearfix" aria-label="Site header" role="banner">
    {{ page.branding }}
    {{ page.navigation }}
    {{ page.search }}
  </header>

  {% if page.featured %}
    <section id="featured" class="featured clearfix" role="complementary">
      {{ page.featured }}
    </section>
  {% endif %}

  <section id="main-wrapper" class="layout-main-wrapper layout-container clearfix">
    {{ page.breadcrumb }}
    {{ page.content_top }}
    <div id="main" class="main clearfix" >
      {% if page.sidebar_first %}
        <aside id="first-sidebar" class="first--sidebar sidebar clearfix" role="complementary">
          {{ page.sidebar_first }}
        </aside>
      {% endif %}

      <main id="content" class="content clearfix" aria-label="Site main content" role="main">
        {{ page.content }}
      </main>

      {% if page.sidebar_second %}
        <aside id="second-sidebar" class="second--sidebar sidebar clearfix" role="complementary">
          {{ page.sidebar_second }}
        </aside>
      {% endif %}
    </div>
    {{ page.content_bottom }}
  </section>

  {% include '@s3v/includes/footer.html.twig' %}
{% endapply %}
